* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #0a0a23;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-tertiary: rgba(54, 182, 152, 0.159);
}

.lightMode{
    --color-primary: #f5f5dc9;
    --color-secondary: #d8519f;
    --color-white: black;
    --color-black: white;
    --color-tertiary: rgba(54, 182, 152, 0.159);
}

body {
    background-color: var(--color-primary); 
    transition: all .4s ease-in-out;          
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}



.active {
    display: block;
    //visibility: visible;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
    @keyframes appear {
        0%{ transform: translateY(-100%) scaleY(0);}
        100%{ transform: translateY(0) scaleY(1); }
    }
}

.sessions {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
}

#home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    // min-height: 100vh;
   .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape {
            //transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            // left: 0;
            // top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 10% 0, 89% 100%, 0% 100%);
        }

        img{
            display: none;
            margin-left: 5rem;
            height: 80%;
            width: 68%;             
        }
   }

   .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 9rem;
        margin: 1.5rem 0;
        line-height: 2rem;
        span { color: var(--color-secondary);
            font-size: 2.5rem; 
        }
   }   
}

#user{
    right: 10%;
    left: 10%;

    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        
        .d-skills{
            ul{
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.5;
                    font-size: 1.5rem;

                }
            }
        }
    }

    h3{
        font-size: 1.5rem;
    }

}

#portfolio{
    left: 15%;
    right: 15%;
}

.tl{
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--color-secondary);
}

#contact{
    left: 15%;
    right: 15%;
}

.hv{
    &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px var(--color-tertiary);
    }
}

.left-contact{
   display: grid;
   grid-gap: 1.5rem;
   font-size: 2rem;
}

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    .control{
        cursor: pointer;
        background-color: gray;
        color: black;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        font-size: 1.2rem;
    }
    .active-btn {
        background-color: var(--color-secondary);
        i { color: var(--color-white); }
    }
}

.education-work{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .item-education-work{
        padding-left: 3rem;
        border-left: 2px solid var(--color-tertiary);

    }
}

.ft{
    display: flex;
    grid-row: repeat(3, 1fr);
    grid-gap: 4rem;
    margin-top: 3rem;
    a{
        img{
            width: 100%;
            height: 100%;
            max-width: 600px;
            max-height: 600px;
            border-radius: 15px;
            cursor: pointer;
            border: 5px solid var(--color-white);
            
        }
    }

}

.d-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
}

.theme-btn{
    position: fixed;
    z-index: 10;
    top: 10%;
    right: 3%;
    color: var(--color-black);
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    
}

@import './media';